<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../index.css">
</head>

<% $numOfMonths.times do |month| %>
<!-- <events> -->
    <!-- <div class="header"> -->
        <!-- this is where I the select to input the day-->
        <!-- <h3><%= $currentDay.strftime("%d %B %Y") %></h3> -->
    <!-- </div> -->
      <!-- <div class="reminders"> -->
        <!-- <h4>Plants To Water</h4> -->
      <!-- </div> -->
<!-- </events> -->
<main>  
    <div class="calendar">
      <div class="month-indicator">
        <h1><time datetime= <%= $firstDays[month].strftime("%Y-%m") %>> <%= $monthTitles[month] %> </time></h1>
      </div>
      <div class="day-of-week">
        <div><h2>Su</h2></div>
        <div><h2>Mo</h2></div>
        <div><h2>Tu</h2></div>
        <div><h2>We</h2></div>
        <div><h2>Th</h2></div>
        <div><h2>Fri</h2></div>
        <div><h2>Sat</h2></div>
      </div>
      <div class="date-grid">
        <% offset = 1 %>
        <% beginning_of_month = $firstDays[month] %>
        <% end_of_month = $lastDays[month] %>
        <% (beginning_of_month..end_of_month).each do |day| %>
        <!-- .date-grid button:first-child { -->
          <!-- grid-column: 1; -->
        <!-- } -->
          <% if day == $firstDays[month] %>
              <% end_of_month.wday.times do %> 
                <% offset += 1 %> 
                <!-- <div style="date-grid button:first-child1: <% offset %>;"></div> -->
              <% end %>
            <% end %>
            <% if day.wday == 0 %><% end %>
            <!-- <td><%= day.day %></td> -->
          <button>
            <h2><time datetime=<%= $firstDays[month].strftime("%Y-%m-%d") %>><%= day.day %></time></h2>
          </button>
          <% $firstDays[month] += 1.days %>
        <% end %>
      </div>
    </div>  
  </main>
<% end %>
      
      
      
      <!-- for each or while duration each from current start each in -->