html {
    font-size: 125%;
    line-height: 1.4;
    font-weight: 100%;
    color: black;
  }
  
  body {
    min-height: 100vh;
    background: #3e7196;
  }

  keytab {
    font-family: 'Fira Sans', sans-serif;
    background-color: white;
    position: fixed;
    max-width: max-content;
    min-width: max-content;
    margin: 0 0 0 20vw;
    padding: 1.5em;
    border: 2px solid darkgray;
    border-radius: 8px; 
  }
  
  main {
    font-family: 'Fira Sans', sans-serif;
    max-width: max-content;
    min-width: max-content;
    margin: 5vh 0 5vh 50vw;
    padding: 1.5em;   
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 8px;
  }

  .month-indicator {
    color: black;
    text-align: center;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
  }

  .watering {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 30px;
  }
  
  .watering p {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  ul{
    margin: 0;
  }

  li {
    font-size: 20px;
  }

  h4 {
    margin: 3px;
    margin: 0;
    padding: 0;
  }
  

  .day-of-week,
  .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  
  .day-of-week {
    margin-top: 1.25em;
  }
  
  .day-of-week > * {
    font-size: 0.9em;
    color: #7badd1;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
  }
  
  .date-grid {
    margin-top: 0.5em;
  }
  
  /*Positioning the first day*/
  .date-grid button:first-child {
    grid-column: 1;
  }
  
  .date-grid button {
    position: relative;
    border: 0;
    width: 15.5ch;
    height: 15.5ch;
    border-radius: 50%;
    background-color: transparent;
    color: black;
  }
  
  .date-grid .star {
    font-size: 25px;
    position: relative;
    border: 0;
    background-color: transparent;
  }

  .star .gstar {
    color: limegreen;
  }

  .star .rstar {
    color: red;
  }

  .star .bstar {
    color: blue;
  }

  .star .ystar {
    color: #fcca03
  }

  .date-grid button:hover,
  .date-grid button:focus {
    outline: none;
    background-color: gray;
    color: white;
  }
  
  .date-grid button:active,
  .date-grid button.is-selected {
    background-color: black;
    color: white;
  }

  
  